{% extends 'layout.twig' %}
{% block body %}
    <h1>Add User</h1>
    <form method="post" action="#" enctype="multipart/form-data">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
        </br></br>
        <label for="pass">Password</label>
        <input type="text" name="pass" id="pass">
        </br></br>
        <input type="submit" value="Enviar Consulta">
    </form>
{% endblock %}
