
{% extends 'layout.twig' %} 
{% block body %}          
    <h2>About Symblog</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi pariatur nam, voluptas aliquid neque deleniti totam excepturi repudiandae sapiente nesciunt. Dolorum voluptate, fugit veritatis commodi qui voluptas quos iste voluptatibus.
{% endblock %}              
