
{% extends 'layout.twig' %} 
{% block body %} 
    
    <h1>Dashboard</h1>

    <ul>
        <li><a href="/ejerciciosDWES/unidad6/symblogcomposer/users/add">Añadir Usuario</a></li>
        <li><a href="/ejerciciosDWES/unidad6/symblogcomposer/blogs/add">Añadir Blog</a></li>

        <li><a href="/ejerciciosDWES/unidad6/symblogcomposer/logout">Logout</a></li>
    </ul>

{% endblock %}